.footer { 
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, #ea2a2a, #05395d); /* Adjust the color as needed */
  color: white;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.footer-section {
  flex: 1;
  padding: 0 20px; /* Adjust the padding as needed */
}

.footer-section h5 {
  margin-bottom: 10px;
}

.footer-section p {
  margin-bottom: 5px;
}

.footer-section a {
  color: white; /* Icon color */
  margin-right: 10px; /* Space between icons */
  font-size: 24px; /* Icon size */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}  